body {
	margin: auto;
	background-color: $mainBg;
}


a {
	color: #aaa;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: $primaryB;
	font-family: $fontHeadings;
}


small, p {
	color: #777;
	font-family: $fontContent;
	font-size: $fontSize;
	line-height: 1.05;
	text-align: left;
	padding: 5px;
}


p {
	font-size: 18px;
	line-height: 1.3;
}

::selection {
	background-color: #fff;
	color: $primaryA;
}