/********Themes********/
//Replace theme with the following allowed values: Null, Coffee, Afternoon, Wine, Autumn, Sea, Pale, PaleTwo, Mono, Nature
$theme: Coffee;

// default color theme
$primaryA: #9c7737;
$primaryB: #34495e;

// all themes color config
$mainBg: #f3f3f3;
$titleBg: #e2e8e9;
$textColor: #777;


@if $theme == Coffee {
	$primaryA: #857c9c;
	$primaryB: #726457;
	$titleBg: lighten(#e2e8e9, 3);

}  @else if $theme == Afternoon {
	$primaryA: #323A4C;
	$primaryB: #858C78;
	$titleBg: lighten(#e2e8e9, 3);

} @else if $theme == Wine {
	$primaryA: #59222C;
	$primaryB: #8C7B6C;
	$titleBg: lighten(#e2e8e9, 3);

} @else if $theme == Autumn {
	$primaryA: #e68c4c;
	$primaryB: #7F6A5C;
	$titleBg: lighten(#e2e8e9, 3);

} @else if $theme == Sea {
	$primaryA: #666F89;
	$primaryB: #849c63;
	$titleBg: lighten(#e2e8e9, 4);

} @else if $theme == Pale {
	$primaryA: #BFB1A4;
	$primaryB: #7F6560;
	$titleBg: lighten(#e2e8e9, 4);

} @else if $theme == PaleTwo {
	$primaryA: #AB7E72; 
	$primaryB: #BFB1A4;
	$titleBg: lighten(#e2e8e9, 4);

}  @else if $theme == Mono {
	$primaryA: #503036; 
	$primaryB: #91746e;
	$titleBg: lighten(#e2e8e9, 4);

} @else if $theme == MonoTwo {
	$primaryA: #9ca8b0; 
	$primaryB: #313335;
	$titleBg: lighten(#e2e8e9, 4);

} @else if $theme == Nature {
	$primaryA: #CA4433;
	$primaryB: #766B55; 
	$titleBg: lighten(#e2e8e9, 4);

} 

// fontface
$fontSize: 1rem;
$fontHeadings: 'Oswald', sans-serif;
$fontContent: 'Source Sans Pro', sans-serif;

// media query breakpoints
$breakpoints: ( 
	xsmall: 640px,
	small: 768px,
	medium: 992px,
	lmedium: 1024px,
	large: 1200px
);