.news-logo {
	background-image: url(../images/header-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	width: 50%;
	height: 100%;
	mix-blend-mode: multiply;

	position: absolute;
	top:0;
	left: 0;
}