/********Themes********/
body {
  margin: auto;
  background-color: #f3f3f3;
}

a {
  color: #aaa;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #726457;
  font-family: "Oswald", sans-serif;
}

small, p {
  color: #777;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.05;
  text-align: left;
  padding: 5px;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

::selection {
  background-color: #fff;
  color: #857c9c;
}

header {
  background-color: transparent;
  background-image: linear-gradient(#fff 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.9) 1px, transparent 1px);
  background-size: 5px 5px, 5px 5px;
  background-position: -2px -2px, -1px -1px;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  header {
    height: 190px;
  }
}

.page-title {
  top: 0;
  right: 0;
  position: absolute;
}
.page-title h1 {
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 90px;
  padding-right: 10px;
  text-align: right;
  text-transform: lowercase;
  margin-top: 5px;
  background-image: linear-gradient(to left, rgb(160.052173913, 153.047826087, 177.952173913) 0%, rgb(142.9253731343, 125.3731343284, 109.0746268657) 100%);
  color: #fff;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 10% 50%);
  background-size: 100%;
  width: 250px;
  height: 100px;
  mix-blend-mode: multiply;
}
@media (min-width: 768px) {
  .page-title h1 {
    font-size: 4.57rem;
    letter-spacing: 1.4px;
    line-height: 130px;
    width: 400px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .page-title h1 {
    font-size: 5.43rem;
    line-height: 160px;
    width: 500px;
    height: 180px;
  }
}

.animation-container {
  position: relative;
  width: 100%;
}
.animation-container::before {
  content: "";
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 50%;
  height: 190px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.header-animation {
  margin: 0 0 0 10px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-animation .el {
  display: block;
  width: 8%;
  text-transform: lowercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  top: 0;
  animation-name: elMove, elFade;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.41, 0.08, 0.67, 1.01);
  transform: translateY(-100%);
  animation-duration: 15s;
}
@media (min-width: 768px) {
  .header-animation .el {
    font-size: 1.3rem;
  }
}
.header-animation .el:nth-child(even) {
  width: 16%;
}
.header-animation .el--1 {
  animation-duration: 24s;
}
.header-animation .el--2 {
  animation-duration: 23s;
}
.header-animation .el--3 {
  animation-duration: 20s;
}
.header-animation .el--4 {
  animation-duration: 23s;
}
.header-animation .el--5 {
  animation-duration: 29s;
}
.header-animation .el--6 {
  animation-duration: 29s;
}
.header-animation .el--7 {
  animation-duration: 21s;
}
.header-animation .el--8 {
  animation-duration: 22s;
}
.header-animation .el--9 {
  animation-duration: 16s;
}
.header-animation .el--10 {
  animation-duration: 22s;
}
.header-animation .el--11 {
  animation-duration: 26s;
}
.header-animation .el--12 {
  animation-duration: 17s;
}
.header-animation .el--13 {
  animation-duration: 25s;
}
.header-animation .el--14 {
  animation-duration: 29s;
}
.header-animation .el--1 {
  font-size: 15px;
}
.header-animation .el--4 {
  font-size: 18px;
}
.header-animation .el--7 {
  font-size: 21px;
}
.header-animation .el--10 {
  font-size: 25px;
}
.header-animation .el--13 {
  font-size: 28px;
}

.char {
  color: rgb(187.4776119403, 176.6119402985, 166.5223880597);
  display: block;
  width: 30px;
  height: 30px;
}
.char:nth-child(even) {
  color: rgb(187.1043478261, 182.0956521739, 199.9043478261);
}

.char-space {
  border-bottom: 1px solid rgb(214.1565217391, 211.1434782609, 221.8565217391);
  height: 5px;
}
.char-space:nth-child(even) {
  border-bottom-color: rgb(187.4776119403, 176.6119402985, 166.5223880597);
}

@keyframes elFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes elMove {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.news-tabs {
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media (min-width: 992px) {
  .news-tabs {
    padding: 40px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.news-tabs a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 0.94;
  letter-spacing: 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(99.5373134328, 87.3134328358, 75.9626865672);
  padding: 5px;
  text-transform: lowercase;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.news-tabs a:last-child {
  margin-bottom: 0;
}
@media (min-width: 640px) {
  .news-tabs a {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  .news-tabs a {
    margin-bottom: 0;
  }
  .news-tabs a::after {
    content: "|";
    position: absolute;
    right: -10px;
    top: 0;
    color: rgb(166.5, 166.5, 166.5);
  }
}
.news-tabs .is-active {
  background-color: #857c9c;
  color: #fff;
}
@media (min-width: 992px) {
  .news-tabs .is-active::after {
    content: " ";
  }
}

.section {
  width: 90%;
  margin: 0 auto;
}

.title-container {
  background-color: rgb(234.7, 238.9, 239.6);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 5px;
  background-image: linear-gradient(to right, #857c9c 0%, #726457 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
@media (min-width: 1024px) {
  .title-container {
    max-width: 50%;
  }
}
.title-container .title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 1px;
  margin: 0 auto;
  max-width: 90%;
  word-wrap: break-word;
  color: #34495e;
  background: linear-gradient(135deg, #857c9c 0%, #726457 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 640px) {
  .title-container .title {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .title-container .title {
    font-size: 42px;
  }
}
.title-container .quotes {
  background-image: url(../images/quotes.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 45px;
  margin-right: 5px;
  transform: rotate(-180deg);
  transform-origin: 40% 30%;
}

.image-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 98%;
  background-image: linear-gradient(to bottom, rgb(241.2086956522, 240.1913043478, 243.8086956522) 0%, rgb(209.552238806, 202.2388059701, 195.447761194) 100%);
}
@media (min-width: 1024px) {
  .image-container {
    width: 40%;
  }
}
.image-container .image {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  position: relative;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #ddd;
    align-items: unset;
  }
}
@media (min-width: 1024px) {
  .article {
    height: 350px;
    min-height: 350px;
  }
}
.article:first-of-type {
  border-top: solid 1px #ddd;
}
.article .image-container {
  order: 1;
}
@media (min-width: 768px) {
  .article .image-container {
    order: 1;
  }
}
@media (min-width: 1024px) {
  .article .image-container {
    order: 2;
  }
}
.article .news-content {
  width: 98%;
  order: 2;
}
@media (min-width: 1024px) {
  .article .news-content {
    width: 60%;
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: unset;
  }
}
@media (min-width: 1024px) {
  .article .news-content .title-container {
    text-align: right;
    order: 2;
  }
}
.article .news-content .description {
  padding: 10px 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  order: 1;
}
.article .news-content .description p, .article .news-content .description small {
  text-align: center;
}
.article .news-content .description .article-author {
  letter-spacing: 1px;
}
.article .news-content .description .article-date {
  color: rgb(144.5, 144.5, 144.5);
  font-size: 0.9rem;
}
@media (min-width: 1024px) {
  .article .news-content .description {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .article:nth-child(odd) .image-container {
    order: 2;
  }
}
@media (min-width: 1024px) {
  .article:nth-child(odd) .image-container {
    order: 1;
  }
}
.article:nth-child(odd) .news-content {
  order: 2;
}
@media (min-width: 1024px) {
  .article:nth-child(odd) .news-content {
    order: 2;
  }
}
@media (min-width: 1024px) {
  .article:nth-child(odd) .news-content .title-container {
    text-align: left;
    order: 1;
  }
}
.article:nth-child(odd) .news-content .description {
  order: 2;
}

.btn {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 95% 50%;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 37px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #857c9c;
  width: 140px;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease-in;
}
.btn::after {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 95% 50%;
  content: "READ MORE";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #726457;
  width: 100%;
  line-height: 37px;
  transition: all 0.6s ease-in;
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
}
.btn:hover {
  background-position: 200% 50%;
}
.btn:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.btn:hover .btn-text {
  transform: translate3d(200px, 0, 0);
}
.btn .btn-text {
  display: inline-block;
  transition: all 0.8s ease-in;
  transform: translate3d(0, 0, 0);
}
.btn--odd {
  background-color: #726457;
}
.btn--odd::after {
  background-color: #857c9c;
}/*# sourceMappingURL=styles.css.map */